<student-title-page [displayText]="'Flasquestion'"></student-title-page>
<div class="question__title">
  @if(flashquestion()){
  <h3>{{flashquestion()}}</h3>
  } @else {
  <p>Flashquestion aún no ha sido enviada</p>
  }
</div>
<main class="grid-container">
  <textarea
    class="text-area"
    placeholder="Escribe tu comentario aquí"
    #textAreaDoubts
  ></textarea>
  <student-button-text
    (click)="submitQuestion(ACTIVITY.flashquestion)"
    [textButton]="'Enviar duda al docente'"
  />
</main>
<student-footer class="footer-container" />
