<div class="card">
  <h5>Flashquestions</h5>
  <div class="">
    <div class="field">
      <input pInputText type="text" placeholder="Pregunta rápida" [(ngModel)]="questionAdmin" class="col-12"/>
    </div>
    <div>
      <button pButton label="Enviar" (click)="saveQuestion()"  ></button>
    </div>
    <div *ngIf="isQuestionsend()" class="text-green-500 mt-3">¡Pregunta enviada!</div>
  </div>
</div>
<!--      create a cards answers like mentimeter with tailwind css for show the user answers-->
<div class="grid mt-1">
@for (answer of answers(); track answer){
    <div class="col-12">
      <div class="card">
        <p>{{answer.text }}</p>
      </div>
    </div>
}
</div>



