/* CSS */
.btn-limited-width {
    max-width: 200px; /* Limita el ancho a 200px */
}
.input-limited-width {
    max-width: 300px; /* Limita el ancho a 300px */
}
.flex-container {
    display: flex;
    flex-direction: column; /* Alinea los elementos verticalmente. Usa 'row' si prefieres una alineación horizontal */
    justify-content: right; /* Centra los elementos a lo largo del eje principal (verticalmente si la dirección es 'column') */
    align-items: center; /* Centra los elementos a lo largo del eje cruzado (horizontalmente si la dirección es 'column') */
    height: 50vh; /* Asegúrate de que el contenedor padre ocupe toda la altura de la ventana del navegador */
}

.center-qr {
  margin-top: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;

}

.grid-container {
    display: grid;
    grid-template-rows: 1fr 1fr; /* Divide el contenedor en dos columnas */
}
